* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(233, 229, 229);
    background-position: center;
    background-size: cover;
    padding: 15px 5%;
    overflow: hidden;
    position: relative;
}

nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 140px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
  font-size: 12pt;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  position: relative;
}
nav ul li a::after {
  content: '';
  position: absolute;
  background: goldenrod;
  top: 20px;
  left: 0;
  width: 0;
  height: 3px;
}
nav ul li a:hover::after{
  width: 100%;
  transition: width .3s linear;
}
.login-btn {
  text-decoration: none;
  color: #333;
  margin-right: 15px;
  font-weight: 400;
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  color: black;
  background: transparent;
  border-style: solid;
  border-width: 2px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 30px;
  border-top-right-radius: 0;
  transition: .5s;
}
.btn:hover {
  background: rgb(37, 201, 15);
  border-top-right-radius: 30px;
}
.content {
  margin-top: 7%;
  margin-left: 10%;
  max-width: 450px;
}
.content button {
  padding: 5pt 9pt;
  font-size: 8pt;
  font-weight: bold;
  border-radius: 5pt;
  border-color: transparent;
  margin-bottom: 20px;
  background: rgb(37, 201, 15);
}
.content h1 {
  font-size: 57px;
  color: #222;
}
.content p {
  margin:  20px 0 30px;
  color: gray;
  font-size: 20pt;
}
.content .btn {
  padding: 10px 40px;
  font-size: 15px;

}
.btnleft {
  display: flex;
  gap: 20px;
}

.img {
  width: 28%;
  position: absolute;
  bottom: 8%;
  right: 15%;
  background-color: rgb(37, 201, 15);
  border-radius: 5%;
}

.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup .5s linear forwards;
}
@keyframes moveup {
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}